@model IEnumerable<HappyWriter.Models.Zubehör>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZubehörName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZubehörKosten)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ZubehörName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZubehörKosten)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ZubehörId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ZubehörId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ZubehörId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
